/* Configuração global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;  /* Background de cor sólida */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo do contêiner principal */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Estilo do conteúdo da calculadora */
div {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilo do botão */
button {
  width: 100%;
  padding: 12px;
  background-color: #f1c40f;  /* Botão amarelo */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #d4ac0d;  /* Botão amarelo mais escuro ao hover */
}

/* Estilo dos resultados */
h3, h4 {
  color: #333;
  margin-top: 20px;
}
